@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
/* line 4, ../sass/styles.scss */
body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  border: 0;
  user-select: none;
  padding-top: 7rem;
  overflow-y: scroll;
}

/* line 14, ../sass/styles.scss */
.shift {
  transition: all 0.1s ease;
  transform: translateY(0rem);
  margin-bottom: 2rem;
}
/* line 19, ../sass/styles.scss */
.shift.filterVisible {
  transform: translateY(8.5rem);
}

/* width */
/* line 27, ../sass/styles.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* line 33, ../sass/styles.scss */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
/* line 38, ../sass/styles.scss */
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 5px;
  opacity: 0.6;
}

/* Handle on hover */
/* line 45, ../sass/styles.scss */
::-webkit-scrollbar-thumb:hover {
  background: #8e8e8e;
}

/* line 49, ../sass/styles.scss */
nav {
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  background: #ffffff;
  color: #555555;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
/* line 63, ../sass/styles.scss */
nav p {
  font-size: 1.4em;
}
/* line 67, ../sass/styles.scss */
nav .logo {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
  background-image: url(../img/logo.svg);
  width: 5rem;
  height: 5rem;
  max-width: 6rem;
  max-height: 6rem;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 101;
}
/* line 81, ../sass/styles.scss */
nav .search {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 87, ../sass/styles.scss */
nav .search .filter {
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center center;
  background-image: url(../img/filter.svg);
  position: relative;
  left: 3rem;
  cursor: pointer;
}
/* line 98, ../sass/styles.scss */
nav .search .filter:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 103, ../sass/styles.scss */
nav .search .filterOptionsWrapper {
  width: 100vw;
  height: 8rem;
  background: #fafafa;
  position: fixed;
  top: 5rem;
  padding-top: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
/* line 117, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  color: #555555;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
}
/* line 128, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption .toggle {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 137, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption .toggle .track {
  width: 2.3rem;
  height: 1rem;
  border-radius: 1rem;
  background: #ffffff;
}
/* line 144, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption .toggle .ball {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: #fca281;
  border-radius: 1.5rem;
  left: 0.5rem;
  transition: all 0.1s ease;
}
/* line 153, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption .toggle .ball.enabled {
  background: #6ccc85;
  left: 1.5rem;
}
/* line 160, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime {
  /* Mouse-over effects */
}
/* line 162, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime p {
  font-size: 1em;
  width: 5em;
  padding: 0;
  margin: 0;
}
/* line 168, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime p:first-child {
  margin-left: 3rem;
}
/* line 172, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime p:last-child {
  margin-right: 3rem;
}
/* line 177, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .value {
  width: 3rem;
  height: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
}
/* line 188, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.3rem;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  padding: 0;
  margin: 0;
  content: '25';
  position: relative;
  z-index: 101;
}
/* line 204, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider:hover {
  opacity: 1;
}
/* line 208, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider.disabled {
  pointer-events: none;
}
/* line 211, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider.disabled::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #8e8e8e;
  cursor: default;
}
/* line 224, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  border-radius: 1rem;
  height: 1rem;
  background: #6ccc85;
  cursor: pointer;
}
/* line 235, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
/* line 247, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag {
  display: flex;
  justify-content: flex-start;
}
/* line 251, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .clearTags {
  border: solid 2px #000000;
  background: #ffffff;
  padding: 3px 15px 4px 15px;
  margin-right: 15px;
  white-space: nowrap;
  border-radius: 100px;
  transition: all 0.2s ease;
}
/* line 260, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .clearTags:hover {
  background: #000000;
  color: #ffffff;
}
/* line 265, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .clearTags.disabled {
  opacity: 0.6;
  pointer-events: none;
}
/* line 271, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .tags {
  padding-left: 15px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-evenly;
}
/* line 283, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .tags .tag {
  white-space: nowrap;
  color: #555555;
  border-radius: 100px;
  padding: 3px 15px 4px 15px;
  margin-right: 15px;
  opacity: 0.7;
  transition: all 0.2s ease;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: saturate(0%);
}
/* line 297, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .tags .tag.active {
  opacity: 1;
  filter: saturate(100%);
}
/* line 302, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .tags .tag:hover {
  text-decoration: underline;
}
/* line 306, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .tags .tag.disabled {
  filter: saturate(0%);
  opacity: 0.5;
  pointer-events: none;
  box-shadow: none;
}
/* line 317, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterControl {
  width: 100vw;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  height: 5rem;
  background: #ffffff;
}
/* line 325, ../sass/styles.scss */
nav .search .eyeglass {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  background-image: url(../img/eyeglass.svg);
  position: relative;
  left: 3.05rem;
  bottom: 0.03rem;
}
/* line 338, ../sass/styles.scss */
nav .search .searchInput {
  height: 1.5em;
  padding: 0.3em 0.3em 0.3em 2.3em;
  margin-right: 1rem;
  border: none;
  font-size: 1.2em;
  background: #eeeeee;
  border-radius: 2em;
  color: #555555;
}
/* line 348, ../sass/styles.scss */
nav .search .searchInput:focus {
  outline: none;
}

/* line 358, ../sass/styles.scss */
main {
  display: flex;
  flex-flow: column;
}
/* line 362, ../sass/styles.scss */
main .recipeListWrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
}
/* line 369, ../sass/styles.scss */
main .recipeListWrapper .recipeList {
  flex-basis: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 1080px;
}
/* line 378, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe {
  position: relative;
  width: 100%;
  padding: 20px 20px 15px 20px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  overflow: hidden;
  transition: all 0.2s ease;
  border-radius: 10px;
  cursor: pointer;
}
/* line 391, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe.sentinel {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
/* line 397, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe:hover {
  background: #fafafa;
}
/* line 403, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .title {
  font-size: 25px;
  color: #000000;
}
/* line 408, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .tags {
  display: flex;
  flex-flow: row wrap;
  margin-top: 8px;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}
/* line 417, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .tags .tag {
  font-size: 0.8em;
  margin: 0 1.4em 3px 0;
  padding: 3px 15px 4px 15px;
  border-radius: 15px;
  cursor: pointer;
  color: #555555;
}
/* line 425, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .tags .tag:hover {
  text-decoration: underline;
}
/* line 433, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .description {
  color: #555555;
  font-size: 16px;
  margin-top: 16px;
  letter-spacing: 0.02em;
  line-height: 1.3em;
}
/* line 441, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .timeAuthor {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
/* line 447, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .recipeTime {
  color: #8e8e8e;
  font-size: 13px;
}
/* line 451, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .recipeTime span {
  color: #000000;
}
/* line 456, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .author {
  color: #8e8e8e;
  font-size: 13px;
  text-align: right;
}
/* line 461, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .author span {
  color: #000000;
}
/* line 469, ../sass/styles.scss */
main .recipeListEnd {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: #555555;
}
/* line 477, ../sass/styles.scss */
main .recipeListEnd .hr {
  height: 5px;
  background: #ffffff;
  width: 14%;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

/* line 489, ../sass/styles.scss */
footer {
  width: 15rem;
  display: flex;
  flex-flow: row nowrap;
  height: 1.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #f2f2f2;
  opacity: 0.5;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
}
/* line 504, ../sass/styles.scss */
footer .copyright {
  color: #555555;
}

/* line 508, ../sass/styles.scss */
.recipeViewerOverlay {
  width: 110vw;
  height: 110vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: -5vh;
  top: -5vw;
  z-index: 200;
}

/* line 518, ../sass/styles.scss */
.textHider {
  position: fixed;
  right: 0;
  border-radius: 1rem 0 0 0;
  color: transparent;
  width: 100vw;
  height: 5rem;
  max-width: 1080px;
  top: 2.5vh;
  background: linear-gradient(white, white, transparent);
  z-index: 202;
  pointer-events: none;
  transform: translate(100vw);
  transition: all 0.5s ease;
}
/* line 533, ../sass/styles.scss */
.textHider.showRecipeViewer {
  transform: translate(0);
}

/* line 539, ../sass/styles.scss */
.recipeViewer {
  width: 100vw;
  max-width: 1080px;
  height: 97.5vh;
  overflow: hidden scroll;
  background: #ffffff;
  transform: translate(100vw);
  transition: all 0.5s ease;
  position: fixed;
  top: 2.5vh;
  right: 0;
  box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.15);
  padding: 5.5vmin 3vmin 0 3vmin;
  box-sizing: border-box;
  z-index: 201;
  border-radius: 1rem 0 0 0;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
/* line 559, ../sass/styles.scss */
.recipeViewer::-webkit-scrollbar {
  width: 0px;
}
/* line 565, ../sass/styles.scss */
.recipeViewer::-webkit-scrollbar-track {
  background: transparent;
}
/* line 570, ../sass/styles.scss */
.recipeViewer::-webkit-scrollbar-thumb {
  background: #6ccc85;
  border-radius: 5px;
  opacity: 0.6;
}
/* line 577, ../sass/styles.scss */
.recipeViewer::-webkit-scrollbar-thumb:hover {
  background: #62e2a4;
}
/* line 581, ../sass/styles.scss */
.recipeViewer p {
  margin: 0;
}
/* line 585, ../sass/styles.scss */
.recipeViewer.showRecipeViewer {
  transform: translate(0);
}
/* line 589, ../sass/styles.scss */
.recipeViewer #title {
  display: flex;
}
/* line 592, ../sass/styles.scss */
.recipeViewer #title p {
  font-size: 3em;
  font-weight: bold;
  color: #555555;
}
/* line 598, ../sass/styles.scss */
.recipeViewer #title .escape {
  width: 3em;
  height: 3em;
  margin: 0.6em 1.8em 0 0;
  background-repeat: no-repeat;
  background-size: 80%;
  opacity: 0.4;
  background-position: center center;
  background-image: url(../img/arrow.svg);
  cursor: pointer;
}
/* line 609, ../sass/styles.scss */
.recipeViewer #title .escape:hover {
  opacity: 0.6;
}
/* line 617, ../sass/styles.scss */
.recipeViewer #tags {
  margin-top: 1em;
  display: flex;
  width: 50%;
  flex-flow: row wrap;
  justify-content: flex-start;
}
/* line 624, ../sass/styles.scss */
.recipeViewer #tags .tag {
  margin: 0 2em 0.5em 0;
  padding: 3px 15px 4px 15px;
  border-radius: 15px;
  cursor: pointer;
}
/* line 630, ../sass/styles.scss */
.recipeViewer #tags .tag:hover {
  text-decoration: underline;
}
/* line 636, ../sass/styles.scss */
.recipeViewer .authorSource {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 2vmin;
  margin-top: 1rem;
}
/* line 644, ../sass/styles.scss */
.recipeViewer .authorSource .author {
  color: #8e8e8e;
}
/* line 647, ../sass/styles.scss */
.recipeViewer .authorSource .author span {
  color: #000000;
}
/* line 652, ../sass/styles.scss */
.recipeViewer .authorSource #source {
  cursor: pointer;
}
/* line 655, ../sass/styles.scss */
.recipeViewer .authorSource #source a {
  text-decoration: underline;
  color: #6ccc85;
}
/* line 662, ../sass/styles.scss */
.recipeViewer #description {
  font-size: 1.3em;
  margin-top: 1em;
  color: #555555;
}
/* line 668, ../sass/styles.scss */
.recipeViewer #servings {
  font-size: 1.3em;
  margin-top: 1.3em;
  display: flex;
  justify-content: space-between;
  padding-right: 2vmin;
}
/* line 675, ../sass/styles.scss */
.recipeViewer #servings input {
  font-size: 1em;
  outline: none;
  border: none;
  width: 2em;
  text-align: center;
  position: relative;
  left: 0.2em;
  background: transparent;
}
/* line 688, ../sass/styles.scss */
.recipeViewer #oven {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 693, ../sass/styles.scss */
.recipeViewer #oven div {
  width: 1.8em;
  height: 1.8em;
  margin: 0 0.3em 0.1em 0;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center center;
  background-image: url(../img/oven.svg);
}
/* line 704, ../sass/styles.scss */
.recipeViewer section.ingredients {
  margin-top: 1em;
}
/* line 708, ../sass/styles.scss */
.recipeViewer #directions {
  margin-top: 1em;
}
/* line 711, ../sass/styles.scss */
.recipeViewer #directions .directionBreak {
  margin: 1em 0;
}
/* line 715, ../sass/styles.scss */
.recipeViewer #directions .direction {
  margin-bottom: 1em;
}
/* line 731, ../sass/styles.scss */
.recipeViewer #directions .timer {
  margin-bottom: 1em;
  width: 105%;
  height: 4rem;
  background: #6ccc85;
  margin: 0 -3vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
/* line 742, ../sass/styles.scss */
.recipeViewer #directions .timer:hover {
  opacity: 0.9;
}
/* line 746, ../sass/styles.scss */
.recipeViewer #directions .timer .time {
  padding: 0 0 0 3vmin;
  color: #fafafa;
  font-size: 2em;
}
/* line 752, ../sass/styles.scss */
.recipeViewer #directions .timer .control {
  padding: 0 3vmin 0 0;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: 37%;
  background-position: center center;
  background-image: url(../img/play.svg);
}
