@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
/* line 4, ../sass/styles.scss */
body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  border: 0;
  user-select: none;
  padding-top: 7rem;
  overflow-y: scroll;
}

/* line 14, ../sass/styles.scss */
.shift {
  transition: all 0.1s ease;
  transform: translateY(0rem);
  margin-bottom: 2rem;
}
/* line 19, ../sass/styles.scss */
.shift.filterVisible {
  transform: translateY(8rem);
}

/* width */
/* line 27, ../sass/styles.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* line 33, ../sass/styles.scss */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
/* line 38, ../sass/styles.scss */
::-webkit-scrollbar-thumb {
  background: #62bd20;
  border-radius: 5px;
  opacity: 0.6;
}

/* Handle on hover */
/* line 45, ../sass/styles.scss */
::-webkit-scrollbar-thumb:hover {
  background: #62e2a4;
}

/* line 49, ../sass/styles.scss */
nav {
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  background: #62bd20;
  color: #ffffff;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  border-bottom: 5px solid #ffffff;
  z-index: 100;
}
/* line 63, ../sass/styles.scss */
nav .logo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-image: url(../img/logo.svg);
  width: 12vmin;
  height: 12vmin;
  max-width: 6rem;
  max-height: 6rem;
  position: relative;
  top: 1vmin;
  left: 2vmin;
  border-radius: 6vmin;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 101;
}
/* line 81, ../sass/styles.scss */
nav .logo:hover {
  background-image: url(../img/logoHover.svg);
}
/* line 86, ../sass/styles.scss */
nav .search {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 92, ../sass/styles.scss */
nav .search .filter {
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: 48%;
  background-position: center center;
  background-image: url(../img/filter.svg);
  position: relative;
  left: 3rem;
  cursor: pointer;
}
/* line 103, ../sass/styles.scss */
nav .search .filter:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 108, ../sass/styles.scss */
nav .search .filterOptionsWrapper {
  width: 100vw;
  height: 8rem;
  background: white;
  position: fixed;
  top: 5rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
/* line 121, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  color: #555555;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
}
/* line 132, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption .toggle {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 139, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption .toggle .track {
  width: 2.3rem;
  height: 1rem;
  border-radius: 1rem;
  background: #f2f2f2;
}
/* line 146, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption .toggle .ball {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: #f56d05;
  border-radius: 1.5rem;
  left: 0.5rem;
  transition: all 0.1s ease;
}
/* line 155, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption .toggle .ball.enabled {
  background: #62bd20;
  left: 1.5rem;
}
/* line 162, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime {
  /* The slider itself */
  /* Mouse-over effects */
}
/* line 163, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime:hover {
  background: #fafafa;
}
/* line 167, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime p {
  font-size: 1em;
  width: 5em;
  padding: 0;
  margin: 0;
}
/* line 174, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .value {
  width: 3rem;
  height: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
}
/* line 185, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 100%;
  /* Specified height */
  background: transparent;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  padding: 0;
  margin: 0;
  content: '25';
  position: relative;
  z-index: 101;
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
}
/* line 201, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}
/* line 205, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider.disabled {
  pointer-events: none;
}
/* line 208, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider.disabled::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 4rem;
  /* Slider handle height */
  background: #8e8e8e;
  /* Green background */
  cursor: default;
  /* Cursor on hover */
}
/* line 220, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 4rem;
  /* Slider handle height */
  background: #62bd20;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
/* line 230, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTime .slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
/* line 243, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .tags {
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}
/* line 248, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .tags .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 4rem;
}
/* line 255, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .tags .tag.disabled {
  filter: saturate(0%);
  opacity: 0.5;
  pointer-events: none;
}
/* line 261, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterOption.FOTag .tags .tag:hover {
  background: #fafafa;
}
/* line 271, ../sass/styles.scss */
nav .search .filterOptionsWrapper .filterControl {
  width: 100vw;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  height: 5rem;
  background: #ffffff;
}
/* line 279, ../sass/styles.scss */
nav .search .eyeglass {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
  background-image: url(../img/eyeglass.svg);
  position: relative;
  left: 4rem;
}
/* line 291, ../sass/styles.scss */
nav .search input {
  height: 1.5em;
  padding: 0.5em 1em 0.5em 2.2em;
  border: none;
  font-size: 2em;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
/* line 299, ../sass/styles.scss */
nav .search input:focus {
  outline: none;
}

/* line 309, ../sass/styles.scss */
main {
  display: flex;
  flex-flow: column;
}
/* line 313, ../sass/styles.scss */
main .recipeListWrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
}
/* line 320, ../sass/styles.scss */
main .recipeListWrapper .recipeList {
  flex-basis: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 1080px;
}
/* line 329, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe {
  position: relative;
  width: 100%;
  padding: 20px 20px 15px 20px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  overflow: hidden;
  transition: all 0.2s ease;
  cursor: pointer;
}
/* line 341, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe.sentinel {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
/* line 347, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe:hover {
  background: #fafafa;
}
/* line 353, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .title {
  font-size: 25px;
  color: #000000;
}
/* line 358, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .tags {
  display: flex;
  flex-flow: row wrap;
  margin-top: 6px;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}
/* line 367, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .tags .tag {
  font-size: 0.8em;
  margin: 0 1.4em 3px 0;
  padding: 3px 15px 4px 15px;
  border-radius: 15px;
  cursor: pointer;
  color: #555555;
}
/* line 375, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .tags .tag:hover {
  text-decoration: underline;
}
/* line 383, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .description {
  color: #555555;
  font-size: 16px;
  margin-top: 1vmin;
  letter-spacing: 0.02em;
  line-height: 1.3em;
}
/* line 391, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .timeAuthor {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
/* line 397, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .recipeTime {
  color: #8e8e8e;
  font-size: 13px;
}
/* line 401, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .recipeTime span {
  color: #000000;
}
/* line 406, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .author {
  color: #8e8e8e;
  font-size: 13px;
  text-align: right;
}
/* line 411, ../sass/styles.scss */
main .recipeListWrapper .recipeList .recipe .author span {
  color: #000000;
}
/* line 418, ../sass/styles.scss */
main .recipeListWrapper .recipeListEnd {
  width: 100%;
  padding: 2rem 10%;
  box-sizing: border-box;
  height: 10rem;
  text-align: center;
  color: #555555;
}
/* line 430, ../sass/styles.scss */
main .recipeListEnd {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
/* line 436, ../sass/styles.scss */
main .recipeListEnd .hr {
  height: 0;
  width: 80%;
  border: solid 1px #8e8e8e;
  border-width: 1px 0 0 0;
}

/* line 447, ../sass/styles.scss */
footer {
  width: 15rem;
  display: flex;
  flex-flow: row nowrap;
  height: 1.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #f2f2f2;
  opacity: 0.5;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
}
/* line 462, ../sass/styles.scss */
footer .copyright {
  color: #555555;
}

/* line 466, ../sass/styles.scss */
.recipeViewerOverlay {
  width: 110vw;
  height: 110vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: -5vh;
  top: -5vw;
  z-index: 200;
}

/* line 476, ../sass/styles.scss */
.recipeViewer {
  width: 100vw;
  max-width: 1080px;
  height: 100vh;
  overflow: hidden scroll;
  background: #ffffff;
  transform: translate(100vw);
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.15);
  padding: 3vmin 3vmin 0 3vmin;
  box-sizing: border-box;
  z-index: 201;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
/* line 493, ../sass/styles.scss */
.recipeViewer::-webkit-scrollbar {
  width: 0px;
}
/* line 499, ../sass/styles.scss */
.recipeViewer::-webkit-scrollbar-track {
  background: transparent;
}
/* line 504, ../sass/styles.scss */
.recipeViewer::-webkit-scrollbar-thumb {
  background: #62bd20;
  border-radius: 5px;
  opacity: 0.6;
}
/* line 511, ../sass/styles.scss */
.recipeViewer::-webkit-scrollbar-thumb:hover {
  background: #62e2a4;
}
/* line 515, ../sass/styles.scss */
.recipeViewer p {
  margin: 0;
}
/* line 519, ../sass/styles.scss */
.recipeViewer.showRecipeViewer {
  transform: translate(0);
}
/* line 523, ../sass/styles.scss */
.recipeViewer #title {
  display: flex;
}
/* line 526, ../sass/styles.scss */
.recipeViewer #title p {
  font-size: 3em;
  font-weight: bold;
  color: #000000;
}
/* line 532, ../sass/styles.scss */
.recipeViewer #title .escape {
  width: 3em;
  height: 3em;
  margin: 0.6em 1.8em 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-image: url(../img/arrow.svg);
  cursor: pointer;
}
/* line 544, ../sass/styles.scss */
.recipeViewer #tags {
  margin-top: 1em;
  display: flex;
  width: 50%;
  flex-flow: row wrap;
  justify-content: flex-start;
}
/* line 551, ../sass/styles.scss */
.recipeViewer #tags .tag {
  margin: 0 2em 0.5em 0;
  padding: 3px 15px 4px 15px;
  border-radius: 15px;
  cursor: pointer;
}
/* line 557, ../sass/styles.scss */
.recipeViewer #tags .tag:hover {
  text-decoration: underline;
}
/* line 563, ../sass/styles.scss */
.recipeViewer .authorSource {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 2vmin;
  margin-top: 1rem;
}
/* line 571, ../sass/styles.scss */
.recipeViewer .authorSource .author {
  color: #8e8e8e;
}
/* line 574, ../sass/styles.scss */
.recipeViewer .authorSource .author span {
  color: #000000;
}
/* line 579, ../sass/styles.scss */
.recipeViewer .authorSource #source {
  cursor: pointer;
}
/* line 582, ../sass/styles.scss */
.recipeViewer .authorSource #source a {
  text-decoration: underline;
  color: #62bd20;
}
/* line 589, ../sass/styles.scss */
.recipeViewer #description {
  font-size: 1.3em;
  margin-top: 1em;
  color: #555555;
}
/* line 595, ../sass/styles.scss */
.recipeViewer #servings {
  font-size: 1.3em;
  margin-top: 1.3em;
  display: flex;
  justify-content: space-between;
  padding-right: 2vmin;
}
/* line 602, ../sass/styles.scss */
.recipeViewer #servings input {
  font-size: 1em;
  outline: none;
  border: none;
  width: 2em;
  text-align: center;
  position: relative;
  left: 0.2em;
  background: transparent;
}
/* line 615, ../sass/styles.scss */
.recipeViewer #oven {
  display: flex;
}
/* line 618, ../sass/styles.scss */
.recipeViewer #oven div {
  width: 1.2em;
  height: 1.2em;
  margin: 0.05em 0.7em 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-image: url(../img/oven.svg);
}
/* line 629, ../sass/styles.scss */
.recipeViewer section.ingredients {
  margin-top: 1em;
}
/* line 633, ../sass/styles.scss */
.recipeViewer #directions {
  margin-top: 1em;
}
/* line 636, ../sass/styles.scss */
.recipeViewer #directions .directionBreak {
  margin: 1em 0;
}
/* line 640, ../sass/styles.scss */
.recipeViewer #directions .direction {
  margin-bottom: 1em;
}
/* line 656, ../sass/styles.scss */
.recipeViewer #directions .timer {
  margin-bottom: 1em;
  width: 105%;
  height: 4rem;
  background: #62bd20;
  margin: 0 -3vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
/* line 667, ../sass/styles.scss */
.recipeViewer #directions .timer:hover {
  opacity: 0.9;
}
/* line 671, ../sass/styles.scss */
.recipeViewer #directions .timer .time {
  padding: 0 0 0 3vmin;
  color: #ffffff;
  font-size: 2em;
}
/* line 677, ../sass/styles.scss */
.recipeViewer #directions .timer .control {
  padding: 0 3vmin 0 0;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: 37%;
  background-position: center center;
  background-image: url(../img/play.svg);
}
