$primary: #62bd20;
$secondary: #f56d05;
$primaryDisabled: #62e2a4;
$secondaryDisabled: #ffaf73;

$pText: #000000;
$sText: #555555;
$faded: #8e8e8e;

$timerText: #ffffff;
$white: #ffffff;
$black: #000000;

$background: #f2f2f2;
$timerBackground: #ffffff;

$subtleHover: #fafafa;